<header class="site-header">
    <div class="header-container">
        <a href="/" class="site-logo">
            <h1>{{ site.title }}</h1>
        </a>
        <nav class="main-nav">
            <a href="/">Home</a>
            <a href="/activities/">Activities</a>
            <a href="/protocollage/">Protocollage</a>
            <a href="/blog/">Blog</a>
            <a href="/about/">About</a>
        </nav>
    </div>
</header>

