<div class="embed-container">
    <iframe src="{{ url }}" width="{{ width | default: '100%' }}" height="{{ height | default: '600px' }}" frameborder="0" allowfullscreen loading="lazy"></iframe>
</div>

